@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: #15203a;
  --background-light-gray: rgba(52, 64, 95, 0.345098);
  --fuchsia: #e31e67;
  --dark-purple: #831f9d;
}

@font-face {
  font-family: 'NexaBold';
  src: url('/font/webfonts_NexaBold/NexaBold.ttf.woff') format('woff'),
    url('/font/webfonts_NexaBold/NexaBold.ttf.svg#NexaBold') format('svg'),
    url('/font/webfonts_NexaBold/NexaBold.ttf.eot'),
    url('/font/webfonts_NexaBold/NexaBold.ttf.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Neue Plak Regular';
  src: url('/font/neue-plak-cufonfonts/Neue Plak Regular.ttf')
    format('truetype');
}

html,
body {
  @apply h-full text-white;
}
@layer base {
  input,
  textarea {
    @apply !text-2xl placeholder:!text-2xl !text-white placeholder:!opacity-70 placeholder:!text-white;
  }
}

@layer components {
  .container {
    @apply mx-auto px-5  xl:px-5 2xl:px-0;
  }
  #__next {
    @apply h-full;
    background: #15203a;
  }
  #home {
    background-image: url(../assets/images/home.jpg);
    @apply relative  bg-no-repeat bg-cover bg-center h-full w-full;
  }
  #home::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      50% 88.97% at 50% 48.12%,
      rgba(27, 42, 58, 0) 0%,
      rgba(27, 42, 58, 0.827451) 100%
    );
  }

  h1 {
    @apply text-[40px] md:text-[60px] leading-10 md:leading-tight lg:text-[5em] lg:leading-[93px]  lg:tracking-[1.6px] mix-blend-normal;
  }
  .btn-primary {
    background: linear-gradient(
      269.74deg,
      #831e9d 1.88%,
      #aa1e87 40.83%,
      #e31e67 96.66%
    );
    mix-blend-mode: normal;
    border-radius: 5px;
  }
  .pera {
    @apply text-2xl text-center font-NeuePlakRegular;
  }
  .title {
    @apply font-NeuePlakRegular text-[18px] tracking-[3.6px] uppercase text-[#E31E67];
  }
  .heading {
    @apply text-[32px] md:text-[45px] leading-tight  lg:text-[3.70em] lg:leading-[1.70em] mix-blend-normal;
  }

  .nav-link {
    @apply font-NeuePlakRegular   text-[21px] tracking-[0.8px] leading-[50px] mix-blend-normal;
  }
  .sub-heading {
    @apply text-[22px] md:text-[30px] lg:text-[35px]  tracking-[-0.6px];
  }
  .heading2 {
    @apply text-[22px] md:text-[28px] lg:text-[29px]   tracking-[-0.6px];
  }
  .heading3 {
    @apply text-lg lg:text-2xl font-NeuePlakRegular;
  }
  ul.p-2.bg-base-100 {
    @apply !bg-[#030303] bg-opacity-60 z-[9999999999];
  }
  ul.react-tabs__tab-list {
    @apply !flex !w-full  !justify-between;
  }
  .react-tabs {
    @apply !w-full;
  }
}
h2,
h1 {
  font-family: 'NexaBold';
}
